.about-me {
  .about-me-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;

    .wrap {
      display: flex;
      gap: 24px;
    }
  }
}
