@import "@/app/common.scss";

.person-page {
  background-color: transparent;
  max-width: 1200px;
  margin: auto;

  .intro-part {
    display: flex;
    min-height: 240px;
    justify-content: center;

    .avatar-area {
      padding: 48px;
    }

    .brief-desc {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 48px;

      p {
        font-size: 18px;
      }
    }
  }

  .main-desc {
    display: flex;
    padding: 12vh 48px 24vh;
    position: relative;
    flex-direction: column;
    user-select: none;
    border-top: 2px solid #dbdbdb;
    align-items: center;

    h2 {
      font-size: 40px;
      padding: 0 48px 4vh;
      text-align: center;
    }

    .desc-content {
      display: flex;
      flex-direction: column;

      p {
        width: 100%;
        margin-bottom: 0;
        font-size: 24px;
        text-indent: 2em;
        line-height: 42px;
      }
    }

    .content-footer {
      display: flex;
      flex-direction: row-reverse;
      height: 110px;
      width: 100%;
      padding-top: 24px;
    }
  }
}
