@import "@/app/common.scss";

.home {
  display: flex;
  position: relative;
  height: calc(100vh - $headerHeight);
  min-height: 550px;
  padding: 24px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fbfbfb;
  user-select: none;

  .info-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .name-wrapper {
      position: relative;
      width: 110%;

      &:hover .nick {
        transform: translateX(-80%);
        opacity: 0;
      }

      .nick {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background: #fbfbfb;
        text-align: center;
        transition: all 0.4s;
      }

      .real {
        text-align: center;
      }
    }

    h2 {
      margin: 0;
      color: #333;
      font-size: 40px;
      font-weight: 500;
      text-shadow: 2px 2px #dbdbdb;
    }

    h3 {
      margin: 0;
      color: #666;
      font-size: 24px;
      font-weight: 500;
      text-shadow: 2px 2px #dbdbdb;
    }

    .avatar {
      overflow: hidden;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      box-shadow: 0 0 10px #999;
      margin-bottom: 20px;
    }
  }

  .drop-down-tips {
    position: absolute;
    left: 50%;
    bottom: 24px;
    transform: translateX(-50%);
    transition: bottom opacity 0.2s;

    @keyframes down {
      from {
        bottom: 48px;
      }
      to {
        bottom: 24px;
        opacity: 0.2;
      }
    }

    animation: down 1s infinite alternate-reverse;
  }
}

.home-other {
  display: flex;
  padding: 12vh 48px 24vh;
  position: relative;
  flex-direction: column;
  user-select: none;
  border-top: 2px solid #dbdbdb;

  h2 {
    font-size: 40px;
    padding: 0 48px 4vh;
    text-align: center;
  }

  .single-block {
    display: flex;
    justify-content: center;
    align-items: center;

    &.menu-block {
      gap: 24px;
      flex-wrap: wrap;

      .wrap {
        display: flex;
        gap: 24px;
      }
    }
  }
}
